.version.index /* version checker */
{
	color: #0000EF;
	background-color: #4944D8;
}

.html
{
	background: #7F7F7F url("../images/adf.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 910px;
	background-image: none;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -89px;
	margin-bottom: -42px;
	width: 0.01px;
}

#ppu1918
{
	width: 0.01px;
	margin-left: 69px;
}

#pu1918
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 509px;
}

#u1918
{
	z-index: 18;
	width: 326px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u1926-4
{
	z-index: 20;
	margin-bottom: -3px;
	width: 274px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 37px;
}

#u1170
{
	z-index: 2;
	width: 118px;
	height: 14px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 362px;
}

#u1179
{
	z-index: 3;
	width: 507px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 2px;
	left: -2px;
}

#u1159
{
	z-index: 4;
	width: 336px;
	margin-right: -10000px;
	margin-top: 21px;
}

#u1169-4
{
	z-index: 6;
	width: 166px;
	min-height: 5px;
	margin-right: -10000px;
	left: 341px;
}

#pu120-3
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 21px;
}

#u120-3
{
	z-index: 24;
	width: 102px;
	min-height: 73px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 280px;
}

#accordionu174
{
	z-index: 27;
	width: 959px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u179
{
	z-index: 28;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u180-4
{
	z-index: 29;
	width: 949px;
	min-height: 29px;
	border-color: #000000;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #999999;
	font-size: 23px;
	line-height: 23px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u180-4:hover
{
	border-color: #000000;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 29px;
	width: 949px;
	margin: 0px;
}

#u180-4:active
{
	border-color: #000000;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 29px;
	width: 949px;
	margin: 0px;
}

#u180-4.AccordionPanelTabOpen
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 29px;
	width: 949px;
	margin: 0px;
}

#u180-2
{
	padding-left: 10px;
	padding-top: 3px;
}

#u181
{
	z-index: 33;
	width: 876px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#FFFFFF 100%);
	background: linear-gradient(to right,#FFFFFF ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	padding: 22px 31px 23px 50px;
}

#u182-4
{
	z-index: 34;
	width: 219px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 18px;
	line-height: 25px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 2px;
	position: relative;
}

#u981
{
	z-index: 39;
	width: 269px;
	background-color: transparent;
	margin-left: 2px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u981_img
{
	padding-right: 114px;
}

#ppu1859-7
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 11px;
}

#pu1859-7
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1859-7
{
	z-index: 45;
	width: 613px;
	min-height: 130px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	text-align: justify;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u1860-17
{
	z-index: 52;
	width: 613px;
	min-height: 173px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	text-align: justify;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 7px;
	position: relative;
}

#pu1375
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 635px;
}

#u1375
{
	z-index: 41;
	width: 211px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u1375_clip
{
	overflow: hidden;
	width: 211px;
	height: 286px;
}

#u1375_img
{
	margin-left: -8px;
	margin-top: -21px;
	margin-bottom: -1px;
}

#u224
{
	z-index: 38;
	width: 236px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u1862-4
{
	z-index: 69;
	width: 876px;
	min-height: 45px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 8px;
	position: relative;
}

#u1393
{
	z-index: 43;
	width: 72px;
	background-color: transparent;
	margin-left: 380px;
	margin-top: 15px;
	position: relative;
}

#pu1906
{
	width: 0.01px;
	margin-left: 209px;
	margin-top: 15px;
}

#u1906
{
	z-index: 73;
	width: 417px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1864-4
{
	z-index: 112;
	width: 109px;
	min-height: 27px;
	background-color: transparent;
	line-height: 28px;
	color: #000000;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 154px;
	position: relative;
}

#u1864-2
{
	padding-bottom: 6px;
}

#u1232
{
	z-index: 74;
	width: 417px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u1194-18
{
	z-index: 84;
	width: 236px;
	min-height: 134px;
	background-color: transparent;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u1194-4
{
	padding-left: 20px;
	padding-bottom: 6px;
	color: #999999;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1194-3
{
	font-size: 12px;
	line-height: 12px;
}

#u1194-2,#u1194-6,#u1194-10
{
	line-height: 14px;
	padding-bottom: 3px;
	color: #000000;
}

#u1194-8,#u1194-12
{
	font-size: 12px;
	line-height: 12px;
	padding-left: 20px;
	padding-bottom: 6px;
	color: #999999;
}

#u1194-14
{
	line-height: 14px;
	color: #000000;
}

#u1194-16
{
	font-size: 12px;
	line-height: 12px;
	padding-left: 20px;
	color: #999999;
}

#u1231-10
{
	z-index: 102;
	width: 35px;
	min-height: 128px;
	background-color: transparent;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 248px;
}

#u1231-4
{
	padding-bottom: 21px;
}

#u1231-2,#u1231-6
{
	padding-bottom: 20px;
}

#u566
{
	z-index: 75;
	width: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u500
{
	z-index: 76;
	width: 32px;
	background-color: transparent;
	margin-left: 44px;
	position: relative;
}

#u518
{
	z-index: 80;
	width: 100px;
	background-color: transparent;
	margin-left: 11px;
	margin-top: 4px;
	position: relative;
}

#u521
{
	z-index: 82;
	width: 121px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u512
{
	z-index: 78;
	width: 100px;
	background-color: transparent;
	margin-left: 11px;
	margin-top: 5px;
	position: relative;
}

#u2185
{
	z-index: 116;
	width: 139px;
	height: 1px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 138px;
}

#u183
{
	z-index: 117;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u186-4
{
	z-index: 118;
	width: 947px;
	min-height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #999999;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u186-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 23px;
	width: 947px;
	margin: 0px;
}

#u186-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 23px;
	width: 947px;
	margin: 0px;
}

#u186-4.AccordionPanelTabOpen p,#u186-4.AccordionPanelTabOpen span
{
	color: #4F4F4F;
	visibility: inherit;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u186-2
{
	padding-left: 10px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u186
{
	font-size: 23px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	line-height: 23px;
}

#u184
{
	z-index: 122;
	width: 957px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#FFFFFF 100%);
	background: linear-gradient(to right,#FFFFFF ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
}

#u185-94
{
	z-index: 123;
	width: 852px;
	min-height: 891px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 52px;
}

#u185-2
{
	font-size: 18px;
	line-height: 25px;
	padding-bottom: 1px;
	padding-top: 7px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u185-7
{
	text-align: justify;
	line-height: 20px;
	padding-bottom: 8px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u185-16
{
	text-align: justify;
	line-height: 20px;
	padding-bottom: 15px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u185-9,#u185-14
{
	font-weight: bold;
	font-style: italic;
}

#u185-18
{
	font-size: 18px;
	line-height: 25px;
	padding-bottom: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u185-39,#u185-49
{
	text-align: justify;
	line-height: 20px;
	text-indent: -10px;
	padding-left: 15px;
	padding-bottom: 8px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u185-56
{
	text-align: justify;
	line-height: 20px;
	text-indent: -10px;
	padding-left: 15px;
	padding-bottom: 8px;
	padding-top: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u185-20,#u185-41,#u185-51
{
	text-decoration: underline;
}

#u185-58
{
	font-size: 18px;
	line-height: 25px;
	padding-bottom: 1px;
	padding-top: 11px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u185-67,#u185-70
{
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u185-64,#u185-73,#u185-78
{
	text-align: justify;
	line-height: 20px;
	padding-bottom: 4px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u185-60,#u185-61,#u185-63,#u185-66,#u185-69,#u185-72,#u185-75,#u185-77
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u185-81
{
	text-align: justify;
	line-height: 20px;
	padding-bottom: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1231,#u1231-3,#u1231-5,#u1231-7,#u185-79
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u185-86
{
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u185-82,#u185-83,#u185-85
{
	font-size: 17px;
	font-weight: bold;
	line-height: 24px;
}

#u185-87,#u185-88,#u185-89,#u185-90,#u185-91,#u185-92
{
	text-align: center;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u110
{
	z-index: 217;
	width: 250px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 741px;
	left: 336px;
}

#u175
{
	z-index: 219;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u178-4
{
	z-index: 220;
	width: 947px;
	min-height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #999999;
	font-size: 23px;
	line-height: 23px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u178-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 23px;
	width: 947px;
	margin: 0px;
}

#u178-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 23px;
	width: 947px;
	margin: 0px;
}

#u180-4.AccordionPanelTabOpen p,#u178-4.AccordionPanelTabOpen p,#u178-4.AccordionPanelTabOpen span
{
	color: #4F4F4F;
	visibility: inherit;
	font-size: 23px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u178
{
	color: #7F7F7F;
}

#u176
{
	z-index: 224;
	width: 957px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#FFFFFF 100%);
	background: linear-gradient(to right,#FFFFFF ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-bottom: 58px;
	position: relative;
}

#u177-112
{
	z-index: 225;
	width: 728px;
	min-height: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 53px;
}

#u177-5,#u177-19
{
	font-weight: normal;
	font-style: italic;
}

#u177-16,#u177-26,#u177-34
{
	line-height: 20px;
	font-weight: bold;
}

#u177-4,#u177-6,#u177-7,#u177-9,#u177-10,#u177-12,#u177-13,#u177-15,#u177-18,#u177-20,#u177-21,#u177-22,#u177-23,#u177-25,#u177-28,#u177-30,#u177-31,#u177-32
{
	font-weight: normal;
}

#u177-2,#u177-35,#u177-37
{
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}

#u177-50,#u177-67
{
	color: #000000;
	font-weight: bold;
}

#u1860-12,#u185-27,#u177-68
{
	color: #000000;
}

#u177-49,#u177-52,#u177-101
{
	font-weight: bold;
}

#u177-42,#u177-47,#u177-48,#u177-54,#u177-56,#u177-58,#u177-60,#u177-62,#u177-64,#u177-65,#u177-69,#u177-74,#u177-79,#u177-84,#u177-89,#u177-94,#u177-99,#u177-100,#u177-103,#u177-110
{
	line-height: 20px;
}

#u185-29,#u185-31,#u185-33,#u185-35,#u185-37,#u185-46,#u177-108
{
	font-style: italic;
}

#u970
{
	z-index: 337;
	width: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 781px;
}

#u887
{
	z-index: 338;
	width: 111px;
	background-color: transparent;
	position: relative;
}

#u887_clip
{
	overflow: hidden;
	width: 111px;
	height: 111px;
}

#u887_img
{
	margin-top: -7px;
	margin-bottom: 7px;
}

#u898
{
	z-index: 342;
	width: 89px;
	background-color: transparent;
	margin-left: 12px;
	margin-top: 17px;
	position: relative;
}

#u893
{
	z-index: 340;
	width: 117px;
	background-color: transparent;
	margin-left: 12px;
	margin-top: 17px;
	position: relative;
}

#u232
{
	z-index: 344;
	width: 959px;
	background-color: transparent;
	position: relative;
}

#u233-4
{
	z-index: 345;
	width: 947px;
	min-height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #999999;
	font-size: 23px;
	line-height: 23px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u233-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 23px;
	width: 947px;
	margin: 0px;
}

#u233-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 23px;
	width: 947px;
	margin: 0px;
}

#u186-4.AccordionPanelTabOpen,#u178-4.AccordionPanelTabOpen,#u233-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 23px;
	width: 947px;
	margin: 0px;
}

#u233-4.AccordionPanelTabOpen p,#u233-4.AccordionPanelTabOpen span
{
	color: #4F4F4F;
	visibility: inherit;
	padding-left: 10px;
	font-size: 23px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u178-2,#u233-2
{
	padding-left: 10px;
}

#u233
{
	color: #7F7F7F;
	font-weight: bold;
}

#u234
{
	z-index: 349;
	width: 957px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#FFFFFF 100%);
	background: linear-gradient(to right,#FFFFFF ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-bottom: 35px;
	position: relative;
}

#u1152
{
	z-index: 350;
	width: 800px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 56px;
}

#u969
{
	z-index: 351;
	width: 800px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u341
{
	z-index: 354;
	width: 400px;
	min-height: 400px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
}

#pu333
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 486px;
}

#u333
{
	z-index: 352;
	width: 312px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u822-19
{
	z-index: 355;
	width: 309px;
	min-height: 27px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	text-indent: 5px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: -1px;
}

#u822-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	padding-top: 6px;
	font-weight: bold;
}

#u822-7
{
	font-size: 14px;
}

#u822-9,#u822-11,#u822-13,#u822-15
{
	text-align: center;
}

#u822-17
{
	text-align: center;
	padding-bottom: 6px;
}

#u1151-4
{
	z-index: 374;
	width: 402px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 22px;
	text-indent: 5px;
	font-size: 18px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u822-4,#u1151-2
{
	padding-top: 6px;
}

#u1153
{
	z-index: 378;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 600px;
}

#u1153_clip
{
	overflow: hidden;
	width: 201px;
	height: 17px;
}

#u1153_img
{
	margin-left: 39px;
	margin-right: 26px;
	margin-bottom: -3px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u1236-8
{
	z-index: 10;
	width: 75px;
	min-height: 12px;
	margin-left: 442px;
	margin-top: 19px;
}

body
{
	position: relative;
	min-width: 966px;
	padding-top: 87px;
	padding-bottom: 88px;
}

#page .verticalspacer
{
	clear: both;
}

