#u1918
{
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u1926-4
{
	position: relative;
}

#u1926-4_img
{
	display: block;
	vertical-align: top;
}

#u1170
{
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FAF8F8;
	position: relative;
}

#u1179
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1159
{
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u1169-4
{
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u1236-8
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	position: relative;
}

#u1236
{
	font-style: italic;
}

#u1236-4
{
	font-weight: bold;
}

